<style>
.masvot {
    background-color: tomato;
    color: white;
    padding: 10px;
} 
.masvis {
    background-color: orange;
    color: white;
    padding: 10px;
} 
.masres {
    background-color: violet;
    color: white;
    padding: 10px;
} 
</style>

<% if user_signed_in? %>
    <%= link_to '¡Creá tu pregunta acá!', "questions/new", class: 'btn btn-primary btn-block',role: 'button' %>
<% end %>



<center>
<!-- Buscador-->
<p> <div class="container">Buscar pregunta por título:
<%= form_tag(questions_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Ingresa texto" %>
<%= submit_tag "Buscar" %>
<% end %>
</div> </p>

<% if @search_questions.present? and !params[:search].blank? %>
  <%= render @search_questions %>
<% else %>
  <% if !params[:search].blank? %> <!-- esto lo hago porque cuando apretaba en "inicio" buscaba en blanco, una solucion poco elegante -->
  <p>No hay preguntas que contengan los terminos: <%= params[:search] %>.</p>
  <% end %>
<% end %>
</center>



<% if (@questionMoreVisited.present?) %>
<div class="masvis">
<hr>
        <h3>
	    <li>Pregunta más visitada:</li>
            <li><%= link_to @questionMoreVisited.title, @questionMoreVisited %> </li>
	    <li><%= @questionMoreVisited.visits %> visitas</li>
        </h3>
<hr>
</div>
<% end %>



<% if (@questionMoreVoted.present?) %>
<div class="masvot">
<hr>
        <h3>
	    <li>Pregunta más votada:</li>
            <li><%= link_to @questionMoreVoted.title, @questionMoreVoted %> </li>
	    <li><%= @questionMoreVoted.votes %> votos</li>
        </h3>
<hr>
</div>
<% end %>



<% if (@questionMoreAnswers.present?) %>
<div class="masres">
<hr>
      <h3>
	      <li>Pregunta más respondida:</li>
        <li><%= link_to @questionMoreAnswers.title, @questionMoreAnswers %> </li>
        <li><%= @questionMoreAnswers.answers.count %> respuestas</li>
      </h3>
<hr>
</div>
<% end %>



<center><h1>Todas las preguntas:</h1></center>



<center>
<hr>
<ul><li>Ordenar por:     <a href="?sort=fecha">Fecha</a>
<a href="?sort=votos">Votos</a>
<a href="?sort=visitas">Visitas</a>
<a href="?sort=respuestas">Mas Respondidas</a>
<a href="?sort=respuestasmenor">Menos Respondidas</a>
</li> </ul>
</center>

<% @questions.each do |preg| %>
   <hr>
        <h3>
            <li><%= link_to preg.title, preg %> </li>
	    <li><%= preg.visits %> visitas - <%= preg.votes %> votos - <%= preg.answers.count %> respuestas</li>
	    <li>Creado por: <%= User.find(preg.user_id).name %> </li>
	    <li>Fecha: <%= User.find(preg.user_id).created_at %> </li>
        </h3>
    <hr>
<% end %>

<center>
<p><li><ul> <%= link_to "Ver categorías", tags_path %> </li></ul></p>
<p><li><ul> <%= link_to "Ver universidades", universities_path %> </li></ul></p>
</center>

<hr>
