<body>
<!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4"><%= @question.title  %></h1>


            <!-- Author -->
            <p class="lead">
              Por:<b>  <%= User.find(@question.user_id).email %> - Puntos: <%= User.find(@question.user_id).points %></b>
            </p>


          <hr>

          <!-- Date/Time -->
          <p>Fecha y Hora de publicación: <%= @question.created_at  %></p>

          <hr>
          <!-- Post Content -->
          <p>
          <%= @question.content %>
          </p>
	<p>
            Votos: <%= @question.votes %>
            </p>
          <hr>

	 <!-- aca un voton para votarla -->

            <% if ((user_signed_in?) and ((current_user.id) != (@question.user_id))) %>

              <p> <%= link_to "Comentar", new_question_question_comment_path(@question), class: "btn btn-primary" %>
              </p>

                <% if (@vote.exists?) %>

                    <td><%= button_to 'Remover Voto', unvote_question_path(@question), method: :post %></td>

                <% else %>

                    <td><%= button_to 'Votar +', upvote_question_path(@question), method: :post %></td>
                    <td><%= button_to 'Votar -', downvote_question_path(@question), method: :post %></td>

                <% end %>

            <% end %>

            <!-- aca un voton para votarla -->

            <% if user_signed_in? %>

          <!-- Comments Form -->
          <div class="card my-4">
              <h5 class="card-header">Deja un comentario:</h5>
              <div class="card-body">
              <form>
                <div class="form-group">
                  <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">RESPONDER</button>
              </form>
            </div>
          </div>

            <% end %>

          <!-- respuestas -->
          <% @answers.each do |answer| %>
          <div class="media mb-4">
            <div class="media-body">
              <h4 class="mt-0"><b><%= answer.user.name %> </b> </h4>
                  <%= answer.content %><
                </div>
          </div>
          <hr>
          <% end %>



        </div>
        <!-- Sidebar Widgets Column -->

              </div>
              <!-- /.row -->

            </div>

</body>
