<!--
<br>

<h3>

<div class="container">
<div class="UserName">


<p>
<%= current_user.name %>
</p>
</div>
<hr>
<p>
Email: <%= current_user.email %>
</p>
<hr>
<p>
Universidad: <% if (current_user.university_id != nil) %> <%= current_user.university_id %> <% else %> Todavia no cuenta con una universidad asignada. <% end %>
</p>
<hr>
<p>
Sus preguntas:
</p>
<% @questions.each do |preg| %>

        <li>-<%= link_to preg.title, preg %> </li>

<% end %>

</h3>

</div>
-->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 ">
                    <p><strong>Nombre: </strong> <%= @user.name %> </p>
										<p><strong>Puntos: </strong> <% if ((@user.points) < 1) %> 1 <% else %> <%= @user.points %> <% end %> </p>
                    <p><strong>Universidad: </strong> <% if (@user.university_id != nil) %> <%= @user.university_id %> <% else %> Todavia no cuenta con una universidad asignada. <% end %> </p>
										  <hr>
										  <% if (current_user == @user) %>

                      <%= link_to 'Editar', 'user/edit', class: 'btn btn-primary btn-lg btn-prymary-spacing',role: 'button' %>

                      			<% end %>
                </div>
            </div>

    	 </div>
		</div>
	</div>
	<h2>Preguntas Hechas:</h2>
	<hr>
	<% @questions.each do |preg| %>

					<li><%= link_to preg.title, preg %> </li>
					<li><%= preg.created_at %> </li>
					<li>Respuestas:<%= preg.answers.size %> </li>
	<% end %>
	<hr>
	<h2>Respuestas Dadas:</h2>
	<hr>
	<% @answers.each do |resp| %>

					<li><%= link_to resp.content, resp %> </li>
					<li><%= resp.created_at %> </li>

	<% end %>
	<hr>
</
</div>
