<body>
<!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Respuesta -->
            <h1 class="mt-4"><%= @answer.content  %></h1>

            <!-- Autor -->
            <p class="lead">
                Por:<b>  <%= User.find(@answer.user_id).name %> -Puntos: <%=User.find(@answer.user_id).points  %></b>
            </p>

            <!-- Pregutna -->
            <p class="lead">
                Pregunta: <b><%= Question.find(@answer.question_id).title %></b>
            </p>

          <hr>

          <!-- Date/Time -->
          <p>Fecha y Hora de publicación: <%= @answer.created_at  %></p>

            <p>
                Votos: <%= @answer.votes %>
            </p>

          <hr>



            <!-- aca un voton para botarla -->

            <% if ((user_signed_in?) and ((current_user.id) != (@answer.user_id))) %>

                <% if (@vote.exists?) %>

                    <%= button_to 'Remover Voto', unvote_answer_path(@answer), method: :post %>

                <% else %>

                    <%= button_to 'Votar +', upvote_answer_path(@answer), method: :post %>

                    <%= button_to 'Votar -', downvote_answer_path(@answer), method: :post %>

                <% end %>

            <% end %>

            <!-- aca un voton para botarla -->



            <% if user_signed_in? %>

              <p> <%= link_to "Comentar", new_answer_answer_comment_path(@answer), class: "btn btn-primary" %>
              </p>

            <% end %>

        <!-- respuestas -->
        <% @comments.each do |com| %>
            <div class="media mb-4">
            <div class="media-body">
            <h4 class="mt-0"><b><%= com.user.name %> </b> </h4>
            <%= com.content %>
            </div>
            </div>
            <hr>
        <% end %>



        </div>
        <!-- Sidebar Widgets Column -->

              </div>
              <!-- /.row -->

            </div>

</body>
