<body>
<!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Respuesta -->
            <h1 class="mt-4"><%= @answer.content  %></h1>

            <!-- Autor -->
            <p class="lead">
                Por:<b>  <%= User.find(@answer.user_id).email %></b>
            </p>

            <!-- Pregutna -->
            <p class="lead">
                Pregunta: <b><%= Question.find(@answer.question_id).title %></b>
            </p>

          <hr>

          <!-- Date/Time -->
          <p>Fecha y Hora de publicación: <%= @answer.created_at  %></p>

            <p>
                Votos: <%= @answer.votes %>
            </p>

          <hr>



            <!-- aca un voton para botarla -->

            <% if ((user_signed_in?) and ((current_user.id) != (@answer.user_id))) %>

                <% if (@vote.exists?) %>

                    <td><%= button_to 'Remover Voto', unvote_answer_path(@answer), method: :post %></td>

                <% else %>

                    <td><%= button_to 'Votar +', upvote_answer_path(@answer), method: :post %></td>

                    <td><%= button_to 'Votar -', downvote_answer_path(@answer), method: :post %></td>

                <% end %>

            <% end %>

            <!-- aca un voton para botarla -->



            <% if user_signed_in? %>

          <!-- Comments Form -->
          <div class="card my-4">
              <h5 class="card-header">Deja un comentario:</h5>
              <div class="card-body">
              <form>
                <div class="form-group">
                  <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">RESPONDER</button>
              </form>
            </div>
          </div>

            <% end %>

          <!-- respuestas -->
          <% @comments.each do |com| %>
          <div class="media mb-4">
            <div class="media-body">
              <h4 class="mt-0"><b><%= com.user.name %> </b> </h4>
                  <%= com.content %><
                </div>
          </div>
          <hr>
          <% end %>



        </div>
        <!-- Sidebar Widgets Column -->

              </div>
              <!-- /.row -->

            </div>

</body>
