<br><br><center>

<% if user_signed_in? %>
	<br>
    	<center>
    		<%= link_to "Crear categoría", new_tag_path %>
    	</center>
	<br>
<% end %>



<div  style="background-color: lightblue">
<p>
    <ul><h1>Categorías más usadas:</h1></ul>
</p>

<% @toptags.each do |tagt| %>

            <li><%= tagt.content %> - usada <%= tagt.usos %> veces</li>

<% end %>
</div>



<hr>

<p>
    <ul><h1>Todas las categorias:</h1></ul>
</p>

<div class="container">
	<% @tags.each do |tag| %>
  		<div class="row">
  			<div class="col-sm-4">
  			</div>
    		<div class="col-sm-2">
				<%= tag.content %>
    		</div>
    		<div class="col-sm-2">
				usada <%= tag.usos %> veces
    		</div>
  		</div>
	<% end %>
</div>

</center><br><br><br>