<br><br><br><br><br><br><center>

<% if flash[:error] %>
    <div class="alert alert-danger"><center><%= flash[:error] %></center></div>
<% end %>

La etiqueta debe tener entre 4 y 16 caracteres

<br><br>

<%= form_for (@tag) do |t| %>
    <%= t.label 'Etiqueta:' %>
    <%= t.text_field :content %>
    <%= t.submit 'Crear' %>
<% end %>

</center><br><br><br><br><br><br>
