<br><center>

La universidad debe tener entre 3 y 16 caracteres (sin contar los espacios)

<% if (@permitido == "true") %>

	<h1>Creacion de universidad</h1><hr><hr>
	<%= form_for (@university) do |univ| %>
    	<%= univ.label 'Nombre' %>
    	<%= univ.text_field :name %>
    	<%= univ.submit 'Guardar' %>
	<% end %>
<% end %>

<hr><hr><hr>

<%= link_to "Todas las universidades", universities_path %>

</center><br><br><br><br>
