<!-- Buscador-->
<p> <div class="container">Buscar universidad por nombre:
<%= form_tag(universities_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Ingresa texto" %>
<%= submit_tag "Buscar" %>
<% end %>
</div> </p>

<% if @search_universities.present? and !params[:search].blank? %>
  <%= render @search_universities %>
<% else %>
  <% if !params[:search].blank? %> <!-- esto lo hago porque cuando apretaba en "inicio" buscaba en blanco, una solucion poco elegante -->
  <p>No hay preguntas que contengan los terminos: <%= params[:search] %>.</p>
  <% end %>
<% end %>

<% @unis.each do |uni| %>

		<p>

            <ul><li><%= uni.name %><%= link_to uni.name, university_path(uni) %></li></ul>

        </p>

<% end %>