<header>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" align="center">
      <div class="container" align="center">
        <div class="navbar-header" align="center">


          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag "EducandingModificado.png", title: "Logo", class: "logo" %>

            <%= link_to 'Inicio', '/questions', class: 'btn btn-primary btn-lg btn-prymary-spacing',role: 'button' %>

            	<% if user_signed_in? %>

                      <%= link_to current_user.email, '/questions', class: 'btn btn-primary btn-lg btn-prymary-spacing',role: 'button' %>
                     <%= link_to 'Mi Perfil', current_user, class: 'btn btn-primary btn-lg btn-prymary-spacing',role: 'button' %>
                     <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-lg btn-prymary-spacing',role: 'button' %>

						<% else %>

							<%= link_to "Iniciar Sesión", new_user_session_path, class: 'btn btn-primary btn-lg btn-prymary-spacing',role: 'button' %>
							<%= link_to "Registrarse", new_user_registration_path, class: 'btn btn-primary btn-lg btn-prymary-spacing',role: 'button' %>

						<% end %>
          <% end %>


        </div>
        <div class="collapse navbar-collapse" align="center">

        </div><!--/.nav-collapse -->
      </div>

    </div>
</header>
